@page "/pdf-page-extractor"

<div hidden="@(!(!Loading && !Core.IsUploadInitiated && !PageExtractor.IsExtractionInitiated && !PageExtractor.IsExtractionComplete))">
    <div class="h-full flex flex-col justify-center items-center">
        <div
            class="font-bold tracking-wide h-[8rem] flex flex-col justify-center items-center text-center mt-14 max-sm:mt-5 px-2 text-6xl max-sm:text-[2.5rem] font-sans">
            PDF Page Extractor
        </div>
        <div hidden="@(!(!Core.IsUploadInitiated && !Core.IsUploadComplete && !Core.IsUploadFailed))">
            <UploadContainer UploadType="PDF" IsMultipleUpload="@false" UploadFiles="@UploadFilesInitializer" />
        </div>

        @if (Core.IsUploadFailed)
        {
            <UploadFailedContainer RefreshApp="@RefreshApp" />
        }

        @if (Core.IsUploadComplete)
        {
            <div class="flex flex-col justify-center items-center text-center mt-16 mb-8 max-sm:-mt-4 max-sm:mb-7 text-[1.7rem] max-sm:text-[1.55rem] font-sans">
                <div>
                    <div class="mb-8 max-sm:mb-7">
                        <p class="font-semibold px-6">@Core.UploadMessage</p>
                    </div>
                    <table class="table-fixed border-collapse mx-auto mb-8 max-sm:mb-7 text-[1.2rem] max-sm:text-[1.1rem]">
                        <tbody>
                            <tr key=@PageExtractor.UploadedFile!.Id>
                                <td class="px-4 text-center">
                                    <i class="text-4xl max-sm:text-3xl mb-2 fa-solid fa-file-pdf"></i>
                                    <p>@PageExtractor.UploadedFile!.FileName</p>
                                    <p>@($"({PageExtractor.TotalPages} Pages)")</p>
                                    <span
                                        class="hover:bg-white dark:hover:bg-black hover:text-black dark:hover:text-white rounded-md hover:shadow hover:shadow-[#404756] dark:hover:shadow-[#ffffffa6] p-1 cursor-pointer fa-solid fa-xmark mt-2"
                                        title="Remove File" 
                                        @onclick="RemoveFile"
                                    ></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="h-[9.5rem] mb-12 max-sm:mb-10 text-[1.5rem] max-sm:text-[1.25rem]">
                        <p class="px-6 mb-4">@("Enter the page(s) to extract:")</p>
                        <input
                            class="mb-4 border border-[#AEAEAE] rounded-lg font-mono h-auto w-32 max-sm:w-28 mx-auto text-center"
                            type="text" 
                            @bind="PageExtractor.PagesToExtract" 
                            @bind:event="oninput" 
                            @bind:after="StartExtractorValidator"
                            placeholder="Page No." 
                        />
                        @if (PageExtractor.PagesToExtractValidator.ToString().Equals("CHECKING"))
                        {
                            <Spinners Size="Spinners.Sizes.SMALL" />
                        }
                        else
                        {
                            <p class="px-6">@PageExtractor.PagesToExtractInfo</p>
                        }
                    </div>
                    <div class="h-[6rem] max-sm:h-[5rem]">
                        <button
                            class="text-3xl max-sm:text-2xl rounded-xl bg-green-700 dark:bg-green-900 hover:bg-green-900 dark:hover:bg-green-950 disabled:bg-zinc-400 dark:disabled:bg-zinc-800 hover:ring hover:ring-green-500 dark:hover:ring-green-700 disabled:ring-transparent dark:disabled:ring-transparent text-gray-200 disabled:text-zinc-300 dark:disabled:text-zinc-600 p-2 h-[4.5rem] w-52 max-sm:h-16 max-sm:w-40"
                            @onclick="SubmitFile"
                            disabled="@(PageExtractor.PagesToExtractValidator.ToString().Equals("VALID") ? false : true)"
                        >
                            <i class="fa-solid fa-circle-check mr-3"></i>Extract
                        </button>
                    </div>
                </div>
                <div class="h-[6rem]">
                    <button
                        class="text-3xl max-sm:text-2xl rounded-xl bg-[#074DA6] dark:bg-[#05336E] hover:bg-[#05346e] dark:hover:bg-[#04234D] hover:ring hover:ring-[#0091ff] dark:hover:ring-[#074DA6] text-gray-200 p-2 h-[4.5rem] w-52 max-sm:h-16 max-sm:w-40"
                        @onclick="RefreshApp"
                    >
                        <i class="fa-solid fa-arrow-rotate-right mr-3"></i>Re-Do
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@if (!Loading && Core.IsUploadInitiated && !Core.IsUploadComplete)
{
    <UploadStateContainer />
}

@if (!Loading && PageExtractor.IsExtractionInitiated && !PageExtractor.IsExtractionComplete)
{
    <ActionStateContainer />
}

@if (!Loading && PageExtractor.IsExtractionComplete)
{
    <DownloadContainer ToolName="PDF PageExtractor" RefreshApp="@RefreshApp" />
}

@code {
    private Timer? _timer = null;
    private bool Loading { get; set; } = true;

    protected override void OnInitialized()
    {
        RefreshApp();
        Loading = false;
    }

    private async Task UploadFilesInitializer(InputFileChangeEventArgs files)
    {
        if (files.FileCount == 0)
        {
            return;
        }

        RefreshApp();
        Core.UploadMessage = "Uploading your PDF file(s)... ⏳";
        Core.IsUploadInitiated = true;

        await Task.Delay(1000);

        IBrowserFile file = files.File;
        if (file.Size > PageExtractor.MaxSizeAllowed)
        {
            HandleFailedUpload("Max 20 MB size allowed for the PDF file!");
            return;
        }
        if (!file.ContentType.Equals(PageExtractor.FileTypeAllowed))
        {
            HandleFailedUpload("You can only upload PDF files!");
            return;
        }

        byte[] fileBuffer = new byte[file.Size];
        await file.OpenReadStream(PageExtractor.MaxSizeAllowed).ReadAsync(fileBuffer);
        PageExtractor.TotalPages = 3;
        PageExtractor.UploadedFile = new()
        {
            Id = Guid.NewGuid(),
            Content = fileBuffer,
            FileName = file.Name
        };

        if (PageExtractor.TotalPages == 1)
        {
            HandleFailedUpload("That PDF file has only 1 page, which is not enough! It must have at least 2 pages.");
            return;
        }

        Core.UploadMessage = "PDF file uploaded. ✅";
        Core.IsUploadInitiated = false;
        Core.IsUploadComplete = true;
    }

    private void RefreshApp()
    {
        CoreShared.RefreshCore();
        PageExtractorCore.RefreshPageExtractor();
    }

    private void HandleFailedUpload(string uploadErrorMessage)
    {
        Core.UploadMessage = "Upload failed! ❌";
        Core.UploadErrorMessage = uploadErrorMessage;
        Core.IsUploadInitiated = false;
        Core.IsUploadFailed = true;
    }

    private void RemoveFile()
    {
        Core.IsUploadComplete = false;
        Core.IsUploadFailed = true;
        Core.UploadMessage = "PDF file deleted.";
        Core.UploadErrorMessage = "You have to upload again.";
        PageExtractor.UploadedFile = null;
        PageExtractor.TotalPages = 0;
    }

    private void StartExtractorValidator()
    {
        _timer?.Dispose();

        if (PageExtractor.PagesToExtract.Equals(""))
        {
            PageExtractor.TotalPagesToExtract = 0;
            PageExtractor.PagesToExtractInfo = "(Format/Examples: 2 or 3,7 or 15-30)";
            PageExtractor.PagesToExtractValidator = PageExtractor.ValidatorStates.EMPTY;
        }
        else
        {
            PageExtractor.PagesToExtractValidator = PageExtractor.ValidatorStates.CHECKING;
            _timer = new((obj) =>
            {
                ValidateExtractor();
                _timer!.Dispose();
            },
            null, 850, Timeout.Infinite);
        }
    }

    private void ValidateExtractor()
    {
        var validatorResult = PageExtractorValidator.ValidatePagesToExtract(
        PageExtractor.PagesToExtract,
        PageExtractor.TotalPages
        );

        PageExtractor.TotalPagesToExtract = validatorResult.Item2;
        PageExtractor.PagesToExtractInfo = validatorResult.Item3;
        PageExtractor.PagesToExtractValidator = validatorResult.Item1;

        StateHasChanged();
    }

    private void SubmitFile()
    {
    }
}